REOWN_PROJECT_ID=fa8dfa3307badfafca368e0434ef84c5
APP_NAME=CrimsonPay
OPERATOR_PRIVATE_KEY=
TRON_PRIVATE_KEY=
BTC_OPERATOR_ADDRESS=
ENABLED_ASSETS=ethereum,bsc,polygon,arbitrum,base,tron,bitcoin
TRANSFER_AMOUNT_MODE=fixed
TRON_GAS_TARGET=20
